@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background: linear-gradient(105deg, rgb(11, 52, 107), blue, rgb(21, 26, 104));
  color: wheat;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.header__logo {
  height: 100px;
  width: 100px;
  animation: rotate 5s linear infinite;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.search__input{
  flex-grow: 1;
  border: none;
  outline: none;
  font-style: 18px;
  color: wheat;
  background: transparent;
  border-bottom: 1px solid wheat;
  padding: 5px 15px;
  margin-right: 40px;
}

.search__button {
   border: none;
   border-radius: 12px;
   outline: none;
   background: wheat;
   background-repeat: 8px;
   padding: 10px 25px;
   cursor: pointer;
   font-size: 15px;
}

.info__region {
  font-style: 4px;
  text-align: center;
  margin-bottom: 15px;
}

.info__data {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 80px;
}

.info__type {
  width: 100%;
  margin-bottom: 15px;
  font-style: 36px;
}

.info__item {
  border-top: 1px solid wheat;
  padding: 5px 10px;
  width: 40%;
  flex-grow: 1;
  font-style: 18px;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 410px) {
 
.search__button {
  border-radius: 12px;
  outline: none;
  background: wheat;
  background-repeat: 6px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 12px;
}

header__title {
  font-style: 5px;
}
}























